[submodule "kitchen_alt"]
	path = kitchen_alt
	url = https://github.com/sumedh7/kitchen_alt.git
[submodule "mjrl"]
	path = mjrl
	url = https://github.com/aravindr93/mjrl.git
[submodule "Metaworld"]
	path = Metaworld
	url = https://github.com/sumedh7/Metaworld.git
